.crud--search-result-listing {
  position: relative;
  flex: 1;
  height: 100%;
  max-width: 100%;
}

.crud--search-result-listing__table-container {
  position: relative;
  flex: 1;
  height: 100%;
  overflow: auto;
  padding-right: 15px;
}

.crud--search-result-listing__table-container--with-spinner {
  overflow: hidden;
}

.crud--search-result-listing__table td,
.crud--search-result-listing__table th {
  vertical-align: inherit !important;
}

.crud--search-result-listing__sort-icon {
  font-size: 80%;
  margin-left: 1ch;
}

.crud--search-result-listing__sort-button {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.crud--search-result-listing__action-buttons {
  display: flex !important;
  justify-content: flex-end;
}
