{
  "sourceMap": false,
  "instrument": false,
  "exclude": [
    "src/external_modules"
  ],
  "check-coverage": true,
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "require": [
    "./mocha-config.js"
  ],
  "lines": 0,
  "statements": 0,
  "functions": 0,
  "branches": 0
}