{
  "sourceMap": false,
  "instrument": false,
  "exclude": [
    "src/external_modules"
  ],
  "check-coverage": true,
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "require": [
    "./mocha-config.js"
  ],
  "lines": 60,
  "statements": 60,
  "functions": 60,
  "branches": 60
}