.crud--search-main {
  display: block;
}

.crud--search-main__container {
  display: flex;
  flex: 1;
  min-height: 0;
  position: relative;
  height: 100%;
}

.crud--search-main__page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crud--search-main__search-container {
  width: 0;
  min-width: 0;
  opacity: 0;
  height: 0;
  transition: all .3s ease-in-out;

  .crud--search-form {
    display: none;
  }
}

.crud--search-main__search-container.form-open {
  margin: 0;
  border-right: 1px solid #ddd;
  height: 100%;
  min-width: 290px;
  opacity: 1;
  transition: all .3s ease-in-out;

  .crud--search-form {
    display: block;
  }
}

.crud--search-main__results-container {
  width: 100%;
  transition: width .3s ease-in-out;
}

.crud--search-main__results-container.form-open {
  position: relative;
  transition: width .3s ease-in-out;
}
