.crud--search-pagination-panel__per-page-dropdown {

}

.crud--search-pagination-panel__per-page-dropdown .dropdown-menu {
  left: 0;
  right: 0;

  padding: 0;
}

.crud--search-pagination-panel__per-page-dropdown .dropdown-menu > li > a {
  text-align: right;
}
