.crud--search-form__title {
  margin: 0;
  line-height: 1;
}

.crud--search-form__header {
  background-color: #3b4a56;
  color: #fff;
  padding: 8px 12px;
}

.crud--search-form__controls {
  padding: 18px 12px 12px;
}
