.crud--search-result {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.crud--search-result__table {
  min-height: 0;
  position: relative;
  display: flex;
  flex: 1;
}

.crud--search-result__footer {
  margin-top: auto;
}
