.crud--search-result {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.crud--search-result__table {
  padding: 0 15px;
  min-height: 0;
  overflow: auto;
}

.crud--search-result__footer {
  margin-top: auto;
}
